
body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding:0;
}

li {
	display: block;
	float: left;
}

header {
	background: #B8B8B8;
	padding: 1em 0;
	width: 100%;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

#con{
	width:100%;
	position:absolute;
	top:0;
}

#static-header {
	position: relative;
}

#sticky-header {
	position: fixed;
	top: 0;
}

header li {
	padding-left: 0.5em;
}

#welcome-view {
	background-color: #000;
	color: white;
	height: 95vh;
	width: 100%;
	margin-top: -20px;
}

#welcome-header {
	position: fixed;
	top: 0;
	background: #000;
	width:100%;
	height: 10vh;
	margin-top: 0;
}

#welcome-header a {
	float: right;
	padding-left: 0.5em;
	padding-right:1em;
	padding-top:4.5vh;
	text-decoration:none;
	color:#fff;
	font-family: 'Raleway', sans-serif;
	font-size:18pt;
	
}

#welcome-header a:hover{
	color:#ADADAD;
	
}

#welcome-text {
	clear: both;
	padding-top: 30vh;
	padding-left: 5vh;
	font-family: 'Roboto', sans-serif;
	font-size:60pt;
	color:#fff;
	font-weight:100;
}

#skill-text {
	clear: both;
	margin-top: -60px;
	padding-left: 5vh;
	font-family: 'Raleway', sans-serif;
	font-size:24pt;
	color:#fff;
}

#content {
	background-color: white;
	padding-top:10vh;
	margin:auto;
}

.project {
	clear: both;
	margin: auto;
	width: 90%;
	margin-top:20px;
}

.project:nth-child(1){
	padding-top: 2em;
}

#content img {
	width: 600px;
}

.float-left {
	clear: left;
	float: left;
}

.float-right {
	clear: right;
	float: right;
}

.project-info_R {
	height: 187px;
	width:400px;
	clear:right;
	float: right;
	margin-right:100px;
}

.project-info_L {
	height: 187px;
	width:400px;
	clear:left;
	float: left;
	margin-left:100px;
}

footer #foot{
	height: 400px;
	width:100%;
	background-color: #000;
	color:#fff;
	clear: both;
}

footer img {
	clear: left;
	float: left;
	width:300px;
	height:300px;
	margin-left: 5vh;
	margin-top:50px;
}

#foot #about {
	float: left;
	width: 33%;
	margin-left:2%;
	margin-top:5%;
}

#foot #contact{
	float: right;
	width: 10%;
	margin-right:20%;
	margin-top:5%;
}
