#title {
	padding-top: 5em;
}

#content {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

#slide-view {
	margin-left: 10%;
	width: 80%;
}

@media only screen and (max-width: 768px) {
	#slide-view {
		margin-left: 0;
		width: 100%;
	}
}

#con .stage{
	text-align:left;
}
#con .stage h1{
	font-size:20pt;
	/*color:#5e5e5e;*/
}
#con .stage h2{
	font-size:15pt;
	margin-top:-2%;
}
#con .stage p{
	font-size:15pt;
}

#con #gallery {
	margin-left: 10%;
	width: 80%;
}

#con #gallery  #row1 {
	width:100%;
	display: inline-flex;
}
#con #gallery .small{
	width:190px;
	height:180px;
	padding-right: 4px;
}
#con #gallery .big{
	width:260px;
	height:180px;
	padding-right:4px;
}

#con #gallery img {
	height: 100%;
	width: 100%;
}

#con #gallery  #row2 {
	display: inline-flex;
	width:100%;
}

@media only screen and (max-width: 768px) {
	#con #gallery {
		width: 100%;
		margin-left: 0;
	}
}

#con #video video{
	padding-left: 20%;
	width: 60%;
	height: auto;
}

footer {
	margin-top: 3em;
}